/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.st-container{
    width: 1200px;
    margin: 0 auto;
}

.fa-trash:hover{
    color: red;
}

.search-container {
    position: relative;
    margin: 20px auto;
    width: 600px;
}

.search-input {
    width: calc(100% - 10px); 
    padding: 15px 15px 15px 30px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%);
    cursor: pointer;
    color: black;
    
}
.search-container:hover .search-icon{
    color: #1EC3F4;
    transition: all ease-in-out .4s; 
    transform: translateY(-50%) rotate(360deg);
}



.prev::after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 1px solid;
    border-right: 1px solid ;
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%) rotate(-45deg);
}

.next::before {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 1px solid;
    border-right: 1px solid;
    display: block;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%) rotate(135deg);
}

.app {
     height: 100vh; 
    text-align: center;
    background-color: #fff;
    color: #000;
    transition: 1s;
}
  
  .dark-mode {
    background-color: #333;
    color: #fff;
    transition: 1s;
  }
  
  #toggle-btn {
    margin: 20px;
    display: inline-block;
    width:86px;
    height: 48px;
    background-color: #1EC3F4;
    background-size: 100%;
    border-radius: 24px;
    content: '';
    position: relative;
    transition: all ease-in-out .4s;
    cursor: pointer;
}

#toggle-btn::before {
    position: absolute;
    width:36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
    left:6px;
    top:6px;
    content: '';
    transition: all ease-in-out .4s;
    z-index: 10;
}


#toggle-btn.toggle-btn--dark {
    background-color: #13447E;
}

#toggle-btn.toggle-btn--dark::before {
    left: 44px;
}



.moon-sun {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    left: 50px;
    background-image:  url('https://png.pngtree.com/png-vector/20230414/ourmid/pngtree-sun-orange-three-dimensional-illustration-png-image_6694186.png');
    background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    /* transition: all 0.4s; */
}

.toggle-btn--dark .moon-sun {
    position: absolute;
    top: 12px;
    left: 12px;
    background-image: url('https://png.pngtree.com/png-clipart/20210310/original/pngtree-the-surface-of-a-round-moon-png-image_5955908.png');
}
